.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f00; /* Cambia el color de fondo del círculo aquí */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .letter-i {
    font-size: 48px; /* Cambia el tamaño de la letra aquí */
    color: #fff; /* Cambia el color de la letra aquí */
    font-weight: bold;
  }
  
  .info {
    text-align: center;
    margin-top: 10px; /* Espacio entre la letra "I" y la información */
  }
  